.goodsList{
	margin:0 auto;
	clear:both;
	width:100%;
}
.goodsListRow{
	clear:both;
	width:100%;
}
.goodsBox{
	width:300px;
	height:225px;
	position:relative;
	border:#000;
	border-style: solid;
	border-width:1px;
	margin-right:10px;
	margin-left:10px;
	margin-bottom:20px;
	float:left;
}
.goodsBox img{
	width:300px;
	height:225px;
}
.goodsBox .InfoBar{
	width: 300px;
	position: absolute;
	background: rgba(50,50,50,0.77);
	height: 45px;
	top: 180px;
	font-family: "寰\xAE杞\xAF\xE9\x9B\x85榛\x91", arial, helvetica, clean, sans-serif;
}
.goodsBox .goodsName{
	margin:10px 0 20px 20px;
	width:180px;
	float:left;
	font-size:24px;
	color: rgb(255, 255, 255);
}
.goodsBox .price{
	margin:8px 0 10px 0px;
	width:80px;
	float:left;
	font-size:12px;
	color: rgb(0, 168, 255);
}
.goodsBox .price b{
	font-size:24px;
}
.pagination{
    clear: both;
    padding: 30px 0 20px;
    width: 780px;
}
.pagination span{
    color: rgb(0, 0, 0);
    display: inline-block;
    float: left;
    font-size: 14px;
    font-weight: bold;
    margin-right: 10px;
    text-align: center;
    vertical-align: middle;
	padding: 3px 10px;
}

.pagination span.current, .pagination span.page:hover {
    background-color: rgb(34, 34, 34);
    color: rgb(255, 255, 255);
	padding: 3px 10px;
		 display: inline-block;
    display: inline-block;
}
.pagination span:hover a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.pagination span a {
	 display: inline-block;
	color: rgb(0, 0, 0);
    display: inline-block;
}
.pagination span.next a {
    color: rgb(255, 255, 255);
    padding: 0;
}
span.next {
    background: url("../img/next.png") no-repeat scroll 0 0 transparent;
    padding-left: 0;
    padding-right: 10px;
	transparent;
    color: rgb(255, 255, 255);
    height: 25px;
    width: 62px;
}
a {
    text-decoration: none;
}
