<html>
<head><title>好友</title>
	{{$head_content}}
<link rel="stylesheet" href="../css/main.css" type="text/css" />
<link rel="stylesheet" href="../css/content.css" type="text/css" />
<link rel="stylesheet" href="../css/goodInfo.css" type="text/css" />

<style type="text/css">
    
    div.feeds_block{

    }
    div.feed{

    }
    
    div.feed_usr_img{

    }
    span.feed_usr_name{

    }
    span.feed_time{

    }
    span.feed_content{

    }
</style>

<script type="text/javascript" src="../js/jquery.js" ></script>
<script type="text/javascript" src="../js/search.js" ></script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
	<div id="header">
	   {{$header}}
    </div>
    	<div id="navigation">
    		{{$navigation}}
    	</div>
<div id="main">
  <div id="content">
    {{$main_block}}
  </div>
</div>
    <div id="footer">
    	{{$footer}}
    </div>
</body>
</html>